{
    "search strategy": {
        "name": "",
        "params": {

        }
    },
    "target module": {
        "name": "",
        "params": {

        }
    },
    "output method": {
        "name": "",
        "params": {

        }
    }
}
